.payment{
 
    margin-top: 8%;
    
}
.payment__container{
    display: flex;
    flex-direction: column;
}
.payment__section{
    
    display: flex;
    width: 100%;
    border: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 5px;
}
.title{
    flex: 0.2;
   
    
}
.address{
    padding-left: 5px;
    flex: 0.8;
}
.orders{
    padding-left: 5px;
    flex: 0.8;
}
.paymentv{
    padding-left: 5px;  
     flex: 0.8;
}